.container {
    height: 500px;
    width: 500px;
    
}

#titulo {
    align-items: center;
    text-align: center;
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;

}

#boxmsg {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 400px;

}

.msg-motivacional {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;


}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
