.container {
    height: 500px;
    width: 500px;
    
}

#titulo {
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

#boxmsg {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 400px;

}

.msg-motivacional {
    text-align: justify;
    font-style: italic;

}